@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a general purpose demo site built by ArghyaC</p>

<address>
    <strong>Arghya C</strong><br />
    India<br />
    <abbr title="Phone">P: on request</abbr>
    Contact on mail?
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:codenfood@outlook.com">codenfood@outlook.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/chakrabar">chakrabar</a><br />
    <strong>StackOverflow:</strong> <a href="http://stackoverflow.com/users/2563833/arghya-c">chakrabar</a>
</address>
