@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ArghyaC<small>'s site</small></h1>
    <p class="lead">
        This site is created and maintained by Arghya C. Built on ASP.NET, JavaScript &amp; loads of open source libraries &amp; hosted on Azure.
    </p>
    <p><a href="/Home/About" class="btn btn-default btn-sm">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>QuickRoute</h2>
        <p>
            It's a very simple, light weight, client-side JavaScript routing framework. With inclusion of just one tiny file, you can have 
            client-side routing with just few (literally!) lines of code. The library works based on #uri-hash. It uses jQuery internally.
            Go to the 'QuickRoute' menu for quick demo and tutorial.
        </p>
        <p><a class="btn btn-info" href="/QuickRoute" target="_blank">View Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SimpleProxy</h2>
        <p>
            A simple (we said it!) soft proxy. Want to visit any web page or web service? Just hit this proxy address with your uri as parameter.
            It let' you browse / get service data without leaving the proxy site!
        </p>
        <p><a class="btn btn-info" href="/SimpleProxy?uri=https://en.wikipedia.org" target="_blank">Try it &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HitMiss Game</h2>
        <p>
            It's a challenging mind game. 
            It gives you a random 4-digit number, with no repetition. You just have to guess it. Everytime you guess a number, it tells you how many 
            digit(s) you geessed correctly [Hit], how many correct digit(s) but in wrong place [Almost] &amp; how many hit are being repeated [Re-Hit]
            i.e. you already had the same hit(s) in some previous guesses!
        </p>
        <p><a class="btn btn-info" href="/HitMissGame" target="_blank">Play &raquo;</a></p>
    </div>
</div>